table {
    width: 99%;
}

button {
    width: 150px;
    height: 50px;
    background-color: #222;
    color: white;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444;
}

.posicao {
    position: absolute;
    align-items: center;
}

/* Estilizando o tabuleiro */
#tabuleiro {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 640px;
    height: 640px;
    border: 2px solid #000;
    margin: 20px auto;
}

/* Estilizando as casas do tabuleiro */
.casa {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preta {
    background-color: #333;
    color: #333;
}

.branca {
    background-color: #FFF;
    color: #FFF;
}

/* Estilizando as peças */
.peca {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.peca.vermelha {
    background-image: url('paus vermelho.png');
}

.peca.preta {
    background-image: url('paus preto.jpg');
}

.peca.selecionada {
    border: solid #F00 5px;
}

#jogador1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 75px;
    background-color: #000;
    color: #FFF;
    border-radius: 10px;
}

#jogador2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 75px;
    background-color: #F00;
    color: #FFF;
    border-radius: 10px;
}

.jogadorSelecionado {
    border: 15px solid #00FF00;
}


